.nav {
  position: fixed !important;
  border-top-right-radius: 20px !important;
  margin-bottom: 80px !important;
  margin-top: 80px !important;
  top: 0 !important;
  border-bottom-right-radius: 20px !important;
  height: 80vh;
}

@media only screen and (max-width: 600px) {
  .nav {
    position: relative !important;
  }
  .layout {
    margin: 0px 0px !important;
  }
}

.layout {
  margin: 0px 100px;
}
